@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #FDF6F0;
    --foreground: #3A2C27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF6F0;
    --foreground: #3A2C27;
  }
}

@theme {
  --color-primary1: #472918;
  --color-primary1Light: #6b422b;
  --color-primary1Dark: #24150c;
  --color-secondary1: #FDF6F0;
  --color-secondary2: #EADBC8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
